/website/__pycache__/

/website/env.py
/website/static/res/employees/Employees' Photos/
/website/static/res/employees/First & Last Names.xlsx
/website/static/res/employees/template.ai
/website/static/res/img/Lipton Appreciation.pdf
/website/static/res/img/Lipton Appreciation.ai
/website/static/res/img/Lipton Appreciation-mobile.ai

instance/