.thank-you {
    width: 100%;
    height: auto;
    margin-top: -5%;
    z-index: 0;
}
.button {
    width: 15rem;
    height: auto;
    /* center the button */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* make the button in front of the image */
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .thank-you  {
        margin-right: 1rem;
        height: 80%;
        width: auto;
        align-self: center;
        justify-self: center;
    }
    .button {

    }
}