{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">

    <div class="members-container">

        <div class="members">

            <img src="{{ url_for('static', filename='res/img/members-title.svg') }}" alt="" class="members-title-mobile">

            <div class="members-pictures"> 
                <img src="{{ url_for('static', filename='res/employees/svg/ahmed-mahmoud.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/alaa-dahshour.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/ali-fathy.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/ammar-azooz.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/amr-hazem.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/dalia-elmessidy.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/nesma-gaweesh.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/mohamed-yassin.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/mohammed-balbaa.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/abdelrahman-elsharbasy.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/hassan-youssef.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/ingy-metwaly.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/mahmoud-mohamed.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/marwan-mohamed.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/medhat-osman.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/mohamed-ramadan.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/nouran-afify.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/nouran-el-gendy.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/omar-desouky.svg') }}" alt="" class="employee-svg">
                <img src="{{ url_for('static', filename='res/employees/svg/radwa-mahmoud.svg') }}" alt="" class="employee-svg">
            </div>
            
        </div>
        
        <div class="graphic-container">

            <img src="{{ url_for('static', filename='res/img/members-title.svg') }}" alt="" class="members-title">
            
            <a href="/members-2" class="members-next-container">
                <img src="{{ url_for('static', filename='res/img/next-page.svg') }}" alt="" class="members-next-mobile">
            </a>
            
            <img src="{{ url_for('static', filename='res/img/members-graphic-1.svg') }}" alt="" class="members-graphic">

            <a href="/members-2" class="members-next-container">
                <img src="{{ url_for('static', filename='res/img/next-page.svg') }}" alt="" class="members-next">
            </a>
            
        </div>

    </div>

{% endblock %}