{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/members-2.css') }}">

    <div class="members-2-container">
        
        <div class="graphic-container-2">
            
            <a href="/members" class="members-2-prev-container">
                <img src="{{ url_for('static', filename='res/img/prev-page.svg') }}" alt="" class="members-2-prev-mobile">
            </a>
            
            <img src="{{ url_for('static', filename='res/img/members-graphic-2.svg') }}" alt="" class="members-2-graphic">
            
            <a href="/members" class="members-2-prev-container">
                <img src="{{ url_for('static', filename='res/img/prev-page.svg') }}" alt="" class="members-2-prev">
            </a>
            
        </div>
        
        <div class="members-2">

            <img src="{{ url_for('static', filename='res/img/members-title.svg') }}" alt="" class="members-2-title">
            
            <div class="members-pictures"> 
                <a href="/send?name=Abdelrahman_Elnouty"><img src="{{ url_for('static', filename='res/employees/svg/abdelrahman-elnouty.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Hany"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-hany.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Hassan"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-hassan.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_El_basiouny"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-el-basiouny.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Othman"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-othman.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Amr_Salem"><img src="{{ url_for('static', filename='res/employees/svg/amr-salem.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Asmaa_El_Goumri"><img src="{{ url_for('static', filename='res/employees/svg/asmaa-el-goumri.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ayman_Mostafa_Nagaty"><img src="{{ url_for('static', filename='res/employees/svg/ayman-mostafa-nagaty.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Bassel_Elmaghrabi"><img src="{{ url_for('static', filename='res/employees/svg/bassel-elmaghrabi.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Fadi_Nader"><img src="{{ url_for('static', filename='res/employees/svg/fadi-nader.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Elhabashy"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-elhabashy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Gamal"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-gamal.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Helmy"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-helmy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Mandour"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-mandour.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Khamis"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-khamis.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Rana_Ossama"><img src="{{ url_for('static', filename='res/employees/svg/rana-ossama.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Wasim_Magdy"><img src="{{ url_for('static', filename='res/employees/svg/wasim-magdy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Yomna_El-Raghby"><img src="{{ url_for('static', filename='res/employees/svg/yomna-el-raghby.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Tamer_Fares"><img src="{{ url_for('static', filename='res/employees/svg/tamer-fares.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Abdulrahman_Mohamed"><img src="{{ url_for('static', filename='res/employees/svg/abdulrahman-mohamed.svg') }}" alt="" class="employee-svg"></a>
            </div>
            
        </div>
        
    </div>
    
    <div class="members-2-container-mobile">

        <div class="members-2">

            <img src="{{ url_for('static', filename='res/img/members-title.svg') }}" alt="" class="members-2-title-mobile">

            <div class="members-pictures"> 
                <a href="/send?name=Abdelrahman_Elnouty"><img src="{{ url_for('static', filename='res/employees/svg/abdelrahman-elnouty.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Hany"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-hany.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Hassan"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-hassan.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_El_basiouny"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-el-basiouny.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ahmed_Othman"><img src="{{ url_for('static', filename='res/employees/svg/ahmed-othman.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Amr_Salem"><img src="{{ url_for('static', filename='res/employees/svg/amr-salem.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Asmaa_El_Goumri"><img src="{{ url_for('static', filename='res/employees/svg/asmaa-el-goumri.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Ayman_Mostafa_Nagaty"><img src="{{ url_for('static', filename='res/employees/svg/ayman-mostafa-nagaty.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Bassel_Elmaghrabi"><img src="{{ url_for('static', filename='res/employees/svg/bassel-elmaghrabi.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Fadi_Nader"><img src="{{ url_for('static', filename='res/employees/svg/fadi-nader.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Elhabashy"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-elhabashy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Gamal"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-gamal.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Helmy"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-helmy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Mandour"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-mandour.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Mohamed_Khamis"><img src="{{ url_for('static', filename='res/employees/svg/mohamed-khamis.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Rana_Ossama"><img src="{{ url_for('static', filename='res/employees/svg/rana-ossama.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Wasim_Magdy"><img src="{{ url_for('static', filename='res/employees/svg/wasim-magdy.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Yomna_El-Raghby"><img src="{{ url_for('static', filename='res/employees/svg/yomna-el-raghby.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Tamer_Fares"><img src="{{ url_for('static', filename='res/employees/svg/tamer-fares.svg') }}" alt="" class="employee-svg"></a>
                <a href="/send?name=Abdulrahman_Mohamed"><img src="{{ url_for('static', filename='res/employees/svg/abdulrahman-mohamed.svg') }}" alt="" class="employee-svg"></a>
            </div>

            
        </div>
        
        <div class="graphic-container-2-mobile">

            <img src="{{ url_for('static', filename='res/img/members-title.svg') }}" alt="" class="members-2-title">
            
            <a href="/members" class="members-2-prev-container">
                <img src="{{ url_for('static', filename='res/img/prev-page.svg') }}" alt="" class="members-2-prev-mobile">
            </a>
            
            <img src="{{ url_for('static', filename='res/img/members-graphic-2.svg') }}" alt="" class="members-2-graphic">

            <a href="/members" class="members-2-prev-container">
                <img src="{{ url_for('static', filename='res/img/prev-page.svg') }}" alt="" class="members-2-prev">
            </a>
            
        </div>

    </div>

{% endblock %}