{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var textContainers = document.querySelectorAll('.text-container');
            textContainers.forEach(function(container) {
                var text = container.querySelector('.text');
                var seeMore = container.querySelector('.see-more');
                var arrow = container.querySelector('.arrow');
                if (text.scrollHeight > text.offsetHeight) {
                    if (window.innerWidth > 768) {
                        seeMore.style.display = 'block';
                        arrow.style.display = 'none';
                        container.classList.remove('scrollable');
                    } else {
                        arrow.style.display = 'block';
                        seeMore.style.display = 'none';
                        container.classList.add('scrollable');
                    }
                } else {
                    arrow.style.display = 'none';
                    seeMore.style.display = 'none';
                    container.classList.remove('scrollable');
                }
            });
        });
        function expand(url, sender, message) {
            window.location.href = '/expand?url=' + url + '&sender=' + sender + '&message=' + message;
        }
    </script>       

    <div class="messages">
        {% for message in messages %}
            <div class="message">
                <img src="{{ url_for('static', filename='res/img/message-box.svg') }}" alt="" class="message-svg">
                <p class="sender">{{ message[0] }}</p>
                <div class="text-container">
                    <p class="text">{{ message[1] }}</p>
                    <p class="see-more" onclick="expand('{{ request.url.split("/")[-1] }}', '{{ message[0] }}', '{{ message[1] }}')">more...</p>
                    <img src="{{ url_for('static', filename='res/img/arrow.svg') }}" alt="" class="arrow">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="graphic-container">

        <img src="{{ url_for('static', filename='res/img/messages-title.svg') }}" alt="" class="messages-title">

        <img src="{{ url_for('static', filename='res/img/messages-graphic.svg') }}" alt="" class="messages-graphic">
        
    </div>

{% endblock %}