{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/send.css') }}">

    <script>
        function send_message(recipient) {
            var sender = document.getElementById("sender").value;
            var message = document.getElementById("message").value;
            if (recipient && sender && message) {
                fetch('/send_message?recipient=' + recipient + '&sender=' + sender + '&message=' + message)
                .then(response => response.json())
                .then(data => {
                    console.log(data);    
                });
                window.location.href = "/thank-you";
            }
        }
    </script>

    <style>
        div {
            font-family: 'Myriad Pro Regular';
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div style="display:flex;justify-content:row;align-items:center;flex-direction:column;">
        <img src="{{ url_for('static', filename='res/employees/svg/' ~ recipient.lower().replace('_', '-') ~ '.svg') }}" alt="" style="width: 200px; height: 200px; margin-top: 50px;">
    </div>

    <div class="container">
        <div class="row">
            <div>
                <h1>Send a message to {{ recipient.replace("_", " ") }}</h1>
            </div>
        </div>
        <div class="row">
            <div>
                <label for="sender">Your name</label>
                <input type="text" id="sender" name="sender" placeholder="Your name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div>
                <label for="message">Your message</label>
                <textarea id="message" name="message" placeholder="Your message" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div>
                <button onclick="send_message('{{ recipient }}')" class="btn btn-primary">Send message</button>
            </div>
        </div>

{% endblock %}