{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/send.css') }}">

    <script>
        function send_message(recipient) {
            var sender = document.getElementById("sender").value;
            var message = document.getElementById("message").value;
            if (recipient && sender && message) {
                fetch('/send_message?recipient=' + recipient + '&sender=' + sender + '&message=' + message)
                .then(response => response.json())
                .then(data => {
                    if (data['message'] == "success" || data['message'] == "duplicate") {
                        window.location.href = "/thank-you";
                    } else {
                        alert("Your message was not sent. Please try again.");
                    }
                });
            } else {
                alert("Please fill out all fields.");
            }
        }
    </script>

    <div class="left">
        <img src="{{ url_for('static', filename='res/employees/svg/' ~ recipient.lower().replace('_', '-') ~ '.svg') }}" alt="" class="recipient">
        <p class="send-text">Leave {{ recipient.title().split("_")[0] }} a message</p>
        <img src="{{ url_for('static', filename='res/img/name-box.svg') }}" alt="" class="name-box">
        <input type="text" id="sender" name="sender" placeholder="" class="name-input">
    </div>

    <div class="mid">
        <img src="{{ url_for('static', filename='res/img/send-graphic-mobile.svg') }}" alt="" class="message-graphic-mobile">
        <img src="{{ url_for('static', filename='res/img/message-graphic.svg') }}" alt="" class="message-graphic">
        <textarea id="message" name="message" placeholder="" class="message-input"></textarea>
    </div>

    <div class="right">
        <button onclick="send_message('{{ recipient }}')" class="submit-button">
            <img src="{{ url_for('static', filename='res/img/submit.svg') }}" alt="" class="submit">
        </button>
    </div>

{% endblock %}